language: c++
cache: ccache 
sudo: false
env: 
  matrix:
    - MOAB_VERSION="Version4.7.0"
    - MOAB_VERSION="Version4.8.0"
    - MOAB_VERSION="Version4.8.1"
    - MOAB_VERSION="Version4.8.2"
    - MOAB_VERSION="Version4.9.0"
    - MOAB_VERSION="Version4.9.1"
    - MOAB_VERSION="master"
addons:
  apt:
    packages:
    - gfortran 
    - g++ 
    - build-essential 
    - cmake 
    - libblas-dev 
    - liblapack-dev
before_install:
  # find the start dir - note the start directory is inside the cloned repo
  - export START="$PWD"
  - cd ..
  - export ROOT_DIR="$PWD"
  # build cmake
  - .travis/build_cmake.sh
  # build hdf5
  - .travis/build_hdf5.sh
  # build moab
  - .travis/build_moab.sh
  # build geant4
  - .travis/build_geant4.sh
install:
  # build dagmc
  - cd DAGMC
  - mkdir bld
  - cd bld
  - cmake ../. -DBUILD_TALLY=ON -DBUILD_GEANT4=ON -DGEANT4_DIR=$HOME/.ccache/geant4.10.00.p02 -DCMAKE_INSTALL_PREFIX=$ROOT_DIR/DAGMC
  - make 
  - make install
  - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$ROOT_DIR/DAGMC/lib"
  - cd ..
script:
  # move to test dir
  - cd tests
  # run each test
  - ./dagsolid_unit_tests
  # no fludag yet
  # ./fludag_unit_tests
  - ./test_CellTally
  - ./test_KDEKernel
  - ./test_KDEMeshTally
  - ./test_KDENeighborhood
  - ./test_PolynomialKernel
  - ./test_Quadrature
  - ./test_Tally
  - ./test_TallyData
  - ./test_TallyEvent
  - ./test_TrackLengthMeshTally
  - ./uwuw_unit_tests
  - ./uwuw_unit_tests_tally
  # move to the base directory
  - cd ..
  # remove the bld dir
  - rm -rf bld
  # run astyle to see if there are any differences
  - travis_wait tools/astyle_google --style=linux --indent=spaces=2 --exclude=gtest -r *.cpp *.h *.hpp *.cc *.hh	
  # checks for C++ style guide adherence
  - git diff --exit-code
